img {
  width: 300px;
}

body {
  background-image: url("https://i.ytimg.com/vi/nasgyeou9eg/maxresdefault.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}
