.theme-dark {
  --dark-text: #292929;
  --light-text: #f9f8f8;
  --dark-background: #2f4550;
  --light-background: #586f7c;
  --accent: #b8dbd9;
  --button-border: #b8dbd9;
}

.theme-light {
  --dark-text: #5e4b56;
  --light-text: #5e4b56;
  --dark-background: #dbe7e4;
  --light-background: #eddcd2;
  --accent: #dbe7e4;
  --button-border: #5e4b56;
}

img {
  width: 300px;
}

body {
  /* background-image: url("https://i.ytimg.com/vi/nasgyeou9eg/maxresdefault.jpg");
  background-size: 100%;
  background-attachment: fixed; */
  background-color: var(--light-background);
}

.scroll-to-top {
  position: fixed;
  bottom: 7rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}
